<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="justify-content-center">
        <form #loginForm="ngForm" class="form-signin text-center" (ngSubmit)="login()">
          <h1 class="h3 mb-3 mt-5 font-weight-normal">Sign In</h1>
          <input type="text" class="form-control" placeholder="Name" name="username" #username="ngModel" required [(ngModel)]="model.username">
          <input type="password" class="form-control mt-1" placeholder="Password" name="password" #password="ngModel" required [(ngModel)]="model.password">
          <button class="btn btn-lg btn-dark btn-block mt-1 mr-3" type="submit">Sign in</button>
          <button class="btn btn-lg btn-default btn-block mt-1" type="submit" (click)="goToRegister()">Register</button>
        </form>
      </div>
    </div>
    <div class="col-lg-4"></div>
</div>
</div>